langchain
numpy
pandas
tensorflow
torch
sqlalchemy
langchain-groq
langchain-core
PyMuPDF
langchain-community
langchain-openai
chromadb
transformers
sentencepiece
accelerate
cassio
tiktoken
datasets
openai
PyPDF2
google-generativeai
langchain-google
langchain-community
langchain-google-genai
anthropic
langchain-anthropic
langchain-text-splitters
ipywidgets
pypdf
sentence-transformers
langchain-huggingface
langsmith
openevals
openai
reportlab
pdfplumber
peft
langmem
aiofiles
fastapi
uvicorn
python-multipart
requests
pydantic
aiohttp
langgraph
langgraph-cli[inmem]
watchdog
psycopg2-binary
langchain-chroma